:root {
  // ligin
  --bg: #ECE3CA;
  --line: #E4D8B4;
  --border: #DBCA9A;
  --text: #282425;
  --hover: #5a534e;
}
/* 暗黑主题 */
[data-theme='dark'] {
  --bg: #000000;
  --line: #131313;
  --text: #d6d6d6;
  --hover: #141414;
  --border: #262626;
}

::view-transition-old(*) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-new(*) {
  mix-blend-mode: normal;
  animation: clip 1s ease-in;
}
@keyframes clip {
  from {
    clip-path: circle(0% at var(--x) var(--y));
  }
  to{
    clip-path: circle(150% at var(--x) var(--y));
  }
}

body {
  margin: 0;
  color-scheme: light dark;
  color: var(--text);
  background-color: transparent;
}

div::-webkit-scrollbar {
  display: none !important;
}
