:root {
  // ligin
  --bg: #ece3ca;
  --line: #e4d8b4;
  --border: #dbca9a;
  --text: #282425;
  --hover: #5a534e;
  --frames-from: 0%;
  --frames-to: 136%;
  // --duration: 1000;
  // --dealy: 0;
}
/* 暗黑主题 */
[data-theme='dark'] {
  --bg: #000000;
  --line: #131313;
  --text: #d6d6d6;
  --hover: #141414;
  --border: #262626;
  --frames-from: 0%;
  --frames-to: 136%;
  // --duration: 1000;
  // --dealy: 0;
}

::view-transition-old(*) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-new(*) {
  mix-blend-mode: normal;
  animation: clip 1s ease-in;
}
@keyframes clip {
  from {
    clip-path: circle(var(--frames-from) at var(--x) var(--y));
  }
  to {
    clip-path: circle(var(--frames-to) at var(--x) var(--y));
  }
}

body {
  margin: 0;
  color-scheme: light dark;
  color: var(--text);
  background-color: transparent;
  // @apply 'transition-all duration-[var(--duration)] delay-[var(--dealy)]';
}

div::-webkit-scrollbar {
  display: none !important;
}
